.content_info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  h1 {
    font-size: 62px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }

  p {
    width: 100%;
    max-width: 460px;
    font-size: 20px;
    margin-top: 14px;
    line-height: 30px;
  }

  div {
    display: flex;
    margin-top: 42px;
    grid-gap: 15px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-size: 27px;
      transition: all .3s ease-in-out;

      &:hover {
        color: #0071e3;
        transition: all .3s ease-in-out;
      }
    }

    a:first-child {
      padding-left: 0;
    }
  }

  button {
    background: #000;
    border: none;
    color: #fff;
    padding: 16px;
    border-radius: 7px;
    margin-top: 24px;
    width: 100%;
    max-width: 260px;
    font-size: 18px;
    transition: all .3s ease-in-out;

    &:hover {
      background: #0071e3;
      transition: all .3s ease-in-out;
      box-shadow: 0 7px 20px rgb(0 113 227 / 50%);
    }
  }

  @media (max-width: 990px) {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 70px;

    div {
      justify-content: center;
    }
  }

  @media (max-width: 650px) {
    margin-top: 50px;

    h1 {
      font-size: 45px;
      line-height: 55px;
    }

    h2 {
      font-size: 28px;
    }
  }
}
