.content_info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  h1 {
    font-size: 62px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }

  p {
    width: 100%;
    max-width: 460px;
    font-size: 20px;
    margin-top: 14px;
    line-height: 30px;
  }

  button {
    background: #000;
    border: none;
    color: #fff;
    padding: 16px;
    border-radius: 7px;
    margin-top: 24px;
    width: 100%;
    max-width: 260px;
    font-size: 18px;
    transition: all .3s ease-in-out;

    &:hover {
      background: #0071e3;
      transition: all .3s ease-in-out;
      box-shadow: 0 7px 20px rgb(0 113 227 / 50%);
    }
  }

  @media (max-width: 990px) {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 70px;
  }

  @media (max-width: 650px) {
    margin-top: 50px;

    h1 {
      font-size: 45px;
      line-height: 55px;
    }

    h2 {
      font-size: 28px;
    }
  }
}

.social {
  display: flex;
  margin-top: 42px;
  grid-gap: 15px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 27px;
    transition: all .3s ease-in-out;

    &:hover {
      color: #0071e3;
      transition: all .3s ease-in-out;
    }
  }

  a:first-child {
    padding-left: 0;
  }

  @media (max-width: 990px) {
    justify-content: center;
  }
}

.contact {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 500px;
  background: #f2f2f2;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: #000;
    transition: all .5s ease-in-out;

    &:hover {
      color: #797979;
      transition: all .5s ease-in-out;
    }
  }

  h3 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  input, textarea {
    color: #1d1d1f;
    border: 1px solid #d2d2d7;
    font-size: 17px;
    line-height: 1.23536;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 320px;
    transition: all .5s ease-in-out;
    box-shadow: none;

    &:focus {
      border-color: #1d1d1f;
      transition: all .5s ease-in-out;
    }
  }

  textarea {
    resize: none;
    outline: none;
    height: 120px;
  }

  button {
    margin-top: 10px;
  }
}
