.contact {
  display: flex;
  position: absolute;
  top: 0;
  left: -10px;
  right: -10px;
  width: calc(100% + 20px);
  height: 100%;
  min-height: 500px;
  background: #f2f2f2;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: #000;
    transition: all .5s ease-in-out;

    &:hover {
      color: #797979;
      transition: all .5s ease-in-out;
    }
  }

  h3 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  input, textarea {
    color: #1d1d1f;
    border: 1px solid #d2d2d7;
    font-size: 17px;
    line-height: 1.23536;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 320px;
    transition: all .5s ease-in-out;
    box-shadow: none;

    &:focus {
      border-color: #1d1d1f;
      transition: all .5s ease-in-out;
    }
  }

  textarea {
    resize: none;
    outline: none;
    height: 120px;
  }

  button {
    margin-top: 10px;
  }
}
